.cardHeader{
	/* text stuff */
	padding: 1.6rem 1rem;
	text-align: center;

	/* container shape*/
	box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
	border-radius: .25rem;
	margin-left: 4%;
	margin-right: 4%;

	/* container color */
    background: linear-gradient(40deg,#ff6ec4,#7873f5)!important;
    background: -webkit-linear-gradient(50deg,#ff6ec4,#7873f5)!important;


	/* container position stuff */
	margin-top: -1.25rem;

}

.cardBody{
	/* length adjustment */
	flex: 1 1 auto;

	/* text stuff */
	padding: 4.25rem;
	display: block;
	line-height: 1.5;
	color: #212529;
	text-align: center!important;
	word-wrap: break-word;
}

.card{
	position: fixed;

	margin-top: 1.25rem;
	margin-left: 4%;
	margin-right: 4%;

	display:block;

	margin-bottom: 190px;
	box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
	border-radius: .25rem;
	box-sizing: border-box;
	font-family: Roboto, sans-serif;

}
