:root {
  --jumbotron-padding-y: 17rem;
}

.splash .jumbotron {
  background-size: cover;

  background-image: url(../../Images/pet_splash.jpg);
  background-position: center;
  background-size: cover;
  /* background-size: 100%; */
  background-repeat: no-repeat;
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .splash .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.splash .jumbotron p:last-child {
  margin-bottom: 0;
}

.splash .jumbotron-heading {
  font-weight: 300;
}

.splash .jumbotron .container {
  max-width: 40rem;
}

.splash .box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
